*{
    margin:0;
    padding:0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
:root{
    --primary-color:#F5F5F5;
    --secondary-color:#000000;
    
}
.dark-theme{
    --primary-color:#000000;
    --secondary-color:#F5F5F5;
}
body{
    background-color: var(--primary-color);
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    /* background-color: #cf2e2e; */
    position: relative;
}
header .logo{
    margin:9.13vh 0 0 5.85vw;
    font-weight:600;
    font-size:1.25vw;
}
header .logo a{
    color:var(--secondary-color);

}
nav{
    margin:9.13vh 6.14vw 0 16.7vw;
}
nav ul{
    display: flex;
    
}
nav ul li{
    margin-right:5.1vw;
    font-size:1.25vw;
    font-weight: 600;
    
}

nav ul li:last-child{
    /* padding-right:0;
    margin-right: 0; */
}
nav ul li a{
    color:var(--secondary-color);
    position: relative;
    padding-bottom: 8px;
}
nav ul li a::before{
    content: "";
    border: 2px solid var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
}
nav ul li a:hover:before{
    content: "";
    border: 2px solid var(--secondary-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
}

.fa-toggle-off-icon{
    font-size:2.5vw;
    margin:9.74vh 7.3vw 0 0;
    color: var(--secondary-color);
}
.fa-toggle-off-icon:hover{
    cursor:pointer;
}

.order-now{
    font-size: 1.25vw;
    font-weight: 600;
    margin-top:9.13vh;
    background-color: #FDC72D;
    padding: 2.43vh 2.48vw;
    border-radius: 50px;
}
.order-now{
    cursor:pointer;
}
/* -----------main-------------- */
.index-main{
    display:flex;
    
}
.index-main section{
    width: 34.11 vw;
    margin:28.9vh 0 0 5.85vw;
    
}
section .section-satauri{
    font-size: 3.75vw;
    font-weight: bold;
    color: var(--secondary-color);
}
section .section-text{
    width: 28.84vw;
    font-size: 1.25vw;
    color:#777776;
    margin-top: 5.47vh;
    margin-bottom: 7.91vh;
}
section .section-start{
    font-size: 1.25vw;
    font-weight: 600;
    padding:2.43vh 2.34vw;
    background-color: #FDC72D;
    width:13.2vw;
    border-radius: 50px;
    
}
section .section-start{
    cursor: pointer;
}
div img{
    width:56.36vw;
    height:94.4vh;
}

/* --------aboutuus page----------- */
main .aboutus-img1 img{
    width:49vw;
    height: 76.1vh;
    margin-left:3.66vw;
}
.aboutus-main{
    display:flex;
    flex-wrap: wrap;
}
.aboutus-main section{
    width:37.33vw;
    margin: 28.9vh 0 0 5.85vw;
}
main section .aboutus-satauri1{
    font-size: 2.5vw;
    color:var(--secondary-color);
}
main section .aboutus-text1{
    font-size:1.25vw;
    color:#777776;
    margin-top: 2.19vh;
}
main section .aboutus-satauri2{
    font-size: 2.5vw;
    margin-top:14.64vh;
    color:var(--secondary-color);
}
main section .aboutus-text2{
    font-size:1.25vw;
    color:#777776;
    margin-top: 2.19vh;
}
.aboutus-img2 img{
    width:49.04vw;
    height:76.1vh;
    margin-top:30.44vh;
    margin-left:3.66vw;
}

/* ---------services----------- */
.services-section1{
    width:27.81vw;
    margin:7.02vh auto;
    margin-bottom:0;
}
.article1{
    display:flex;
    justify-content: space-around;
}
.services-section1 h2{
    font-size: 2.5vw;
    margin-bottom: 13.4vh;
    text-align: center;
    color:var(--secondary-color);
}
.article1 section{
    width:27.81vw;
    /* border: 1px solid #263238; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:1.55vh;
    
    
}
.article1 h3{
    /* text-align: center; */
    margin-top: 5.47vh;
    margin-bottom: 5.17vh;
    color:var(--secondary-color);
}

.article1-text1{
    width:16.8vw;
    font-size: 0.94vw;
    color: #777776;
    margin-top:4.5vh;
    margin-bottom: 4vh;
}
.article1-text2{
    font-size: 0.94vw;
    font-weight: 600;
    margin-bottom:5.8vh;
}
.article1 section:hover{
    width:27.8vw;
    /* border: 1px solid #263238; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px;
}
.secimg1{
    width:5.85vw;
    height: 16.1vh;
    
}
.secimg2{
    width:10.24vw;
    height: 20.7vh;
    
}
.second img{
    width:76.1vw;
    height:39.8vh;
}
.second-section{
    width:37.33vw;
}
.second-section h2{
    font-size: 2.5vw;
    color:var(--secondary-color);
}
.second-section .para{
    font-size:0.94vw;
    color: #777776;
    margin-top:4.26vh;
    margin-bottom:9.74vh;
     
     
}
.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:158px;
}
.p-div{
    display:flex;
    
}
.p-1{
    font-size: 1.25vw;
    font-weight: 600;
    padding:2.28vh 2.2vw;
    background-color:#FDC72D ;
    border-radius: 30px;
    margin-right: 2.9vw;
}
.p-1:hover{
    cursor: pointer;
}
.p-2{
    font-size: 1.25vw;
    font-weight: 600;
    padding:2.28vh 2.2vw;
    background-color:#FDC72D ;
    border-radius: 30px;
}
.p-2:hover{
    cursor: pointer;
}
.p-1 img{
    width:1.25vw;
    height:3.65vh;
    background-color: #FDC72D;
}
.p-2 img{
    width:1.25vw;
    height:3.65vh;
    background-color: #FDC72D;
}

/* --------contactus--------- */
.main-contact{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.contact-section{
    width:37.04vw;
    margin:21.3vh 0 0 0;
}
.contact-h2{
    font-size: 2.5vw;
    width:25.9vw;
    color:var(--secondary-color);
}
.contact-p{
    font-size:1.25vw;
    color: #777776;
    width: 37.05vw;
    font-weight: 600;
}
.contact-div{
    width:20.5vw;
    margin-top:21.3vh;
}
.contact-div p{
    font-size: 1.25vw;
    color: #777776;
}
.contact-div p b{
    color: var(--secondary-color);
}
.main-contact-p{
    font-size: 1.25vw;
    font-weight: 600;
    margin-top:31.3vh;
    background-color: #FDC72D;
    padding:2.3vh 2.2vw;
    border-radius: 30px;
    cursor: pointer;
}
.footer{
    
    width: 100%;
    height: auto;
    margin-top:11.88vh;
    background-color: #FEE395;
    padding: 14vh 6.74vw;
}
.footer-div{
    display:flex;
    justify-content: space-around;
    background-color: #FEE395;
}
.footer-div-section{
    background-color: #FEE395;
}
.footer-div-section h3{
    font-size:1.25vw;
    font-weight: 600;
    background-color: #FEE395;
    padding-bottom: 3.04vh;
}
.footer-div-section p{
    font-size:0.94vw;
    font-weight: 600;
    color: #777776;
    background-color: #FEE395;
    padding-bottom:8px;
}
.social{
    display: flex;
    justify-content: space-between;
    width:13.17vw;
    background-color: #FEE395;
}
.fb{
    background-image: url(../images/facebook.png);
    background-size: 100%;
    width:2.2vw;
    height:4.56vh;
    background-color: #FEE395;
    background-repeat: no-repeat;

}
.twi{
    background-image: url(../images/Vector\ \(1\).png);
    background-size: 100%;
    width:2.2vw;
    height:4.56vh;
    background-color: #FEE395;
    background-repeat: no-repeat;
}
.ins{
    background-image: url(../images/Vector2.png);
    background-size: 100%;
    width:2.2vw;
    height:4.56vh;
    background-color: #FEE395;
    background-repeat: no-repeat;
}
.last-p{
    font-size: 0.94vw;
    color:#777776;
    margin-top:15.22vh;
    background-color: #FEE395;
    text-align: center;
}

/* -------------------------------------
-------iphone 12 pro resolution------
------------------------------------- */
@media screen and (max-width:390px){
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        /* background-color: #cf2e2e; */
        position: relative;
    }
    header .logo{
        margin:unset;
        margin: 4vh;
        font-weight:600;
        font-size:5vw;
    }
    nav{
        margin:unset;
        display: flex;
        justify-content: center;
    
    }
    nav ul{
        display: flex;
        flex-direction: column;
        align-items:center;
        
    }
    nav ul li{
        font-size:4vw;
        font-weight: 600;
        padding: 2vh 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:unset;
    }
    .fa-toggle-off-icon{
        font-size:7vw;
        width:100%;
        margin: unset;
    }
    .fa-toggle-off{
        display: flex;
        justify-content: center;
    }

    .order-now{
        font-size: 4vw;
        font-weight: 600;
        margin:unset;
        background-color: #FDC72D;
        padding: 2.43vh 2.48vw;
        border-radius: 50px;
        margin:4vh auto 0;
    }

    /* ------aboutus main------ */
    main .aboutus-img1 img{
        width:49vw;
        height: 76.1vh;
        margin-left:3.66vw;
    }
    .aboutus-main{
        display:flex;
        flex-wrap: wrap;
    }
    .aboutus-main section{
        width:37.33vw;
        margin: 28.9vh 0 0 5.85vw;
    }
    main section .aboutus-satauri1{
        font-size: 2.5vw;
        color:var(--secondary-color);
    }
    main section .aboutus-text1{
        font-size:1.25vw;
        color:#777776;
        margin-top: 2.19vh;
    }
    main section .aboutus-satauri2{
        font-size: 2.5vw;
        margin-top:14.64vh;
        color:var(--secondary-color);
    }
    main section .aboutus-text2{
        font-size:1.25vw;
        color:#777776;
        margin-top: 2.19vh;
    }
    .aboutus-img2 img{
        width:49.04vw;
        height:76.1vh;
        margin-top:30.44vh;
        margin-left:3.66vw;
    }
}
